body {
  background-image: url("../img/macky.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}
