<% include ../partials/header.ejs %>
<% include ../partials/menu.ejs %>
  <div class="card-deck">
  <br></br>
  <div class="card">
    <img src="" class="card-img-top" alt="Card">
    <div class="card-body">
      <h5 class="card-title">Phase 3</h5>
      <p class="card-text">[Generic info text about the first stages of the
        website and game development.]</p>
    </div>
    <div class="card-body">
      <h5 class="card-title">Phase 2</h5>
      <p class="card-text">[Generic info text about the first stages of the
        website and game development.]</p>
    </div>
    <div class="card-body">
      <h5 class="card-title">Phase 1</h5>
      <p class="card-text">In the first phase of the project, we were assigned groups
      and started brainstorming ideas for an app. We decided a platformer that takes
      place on CU's campus would be the most fun and creative. We had to decide what software
      we wanted to use and we chose Unity as the tech to build the game, and node.js as
      the framework for our website.</p>
    </div>
  </div>
<% include ../partials/footer.ejs %>
