<% include ../partials/header.ejs %>
<% include ../partials/menu.ejs %>
  <br></br>
    <div class="card bg-dark text-white mx-auto" style="width:700px">
      <img src="../resources/img/Registration.png" class="card-img-top" alt="Card">
        <div class="card-body">
          <h5 class="card-title">Final Stage</h5>
          <p class="card-text">The final stages of the game are solidified. A login system
          is created to save user progress and make a functioning leaderboard. The website's programming
          and aesthetics are finalized. The game is uploaded to the website, and the application works
          as intended.</p>
        </div>
    </div>
    <br></br>
    <div class="card bg-dark text-white mx-auto" style="width:800px">
      <img src="../resources/img/animationScreenShot.png" class="card-img-top" alt="Card">
        <div class="card-body">
          <h5 class="card-title">Phase 5</h5>
          <p class="card-text">The game becomes more developed as more content is added. Character
          sprites are introduced, art and music are updated, and more levels are implemented. The GitHub repository
          is linked to the website and a login database is created.</p>
        </div>
    </div>
    <br></br>
    <div class="card bg-dark text-white mx-auto" style="width:850px">
      <img src="../resources/img/homePage.png" class="card-img-top" alt="Card">
        <div class="card-body">
          <h5 class="card-title">Phase 4</h5>
          <p class="card-text">The game development group designed various levels, taking
          the player through the campus of CU Boulder, while the web development team
          fleshed out the website, adding home, game, blog, and leaderboards pages.</p>
        </div>
    </div>
    <br></br>
    <div class="card bg-dark text-white mx-auto" style="width:700px">
      <img src="../resources/img/gameSketch.png" class="card-img-top" alt="Card">
        <div class="card-body">
          <h5 class="card-title">Phase 3</h5>
          <p class="card-text">After Phase 2, we began to learn Unity, experimenting with controls,
            game physics, and level mechanics. A GitHub repository was formed to house our code, and
             a framework for the website was made, with an uploaded demo game to test Unity.</p>
        </div>
    </div>
    <br></br>
    <div class="card bg-dark text-white mx-auto" style="width:500px">
      <img src="../resources/img/weblogo.png" class="card-img-top" alt="Card">
        <div class="card-body">
          <h5 class="card-title">Phase 2</h5>
          <p class="card-text">The second phase consisted mostly of us planning out the game and
          dividing up the work. We decided to form two groups of three people, one to work
        on the game, and the other to work on the website and back end. We discussed basic
        game mechanics we wanted to implement, as well as the overall structure of the game.
        A logo is designed.</p>
      </div>
    </div>
    <br></br>
    <div class="card bg-dark text-white mx-auto" style="width:700px">
      <img src="../resources/img/unity.jpg" class="card-img-top" alt="Card">
        <div class="card-body">
          <h5 class="card-title">Phase 1</h5>
            <p class="card-text">In the first phase of the project, we were assigned groups
            and started brainstorming ideas for an app. We decided a platformer that takes
            place on CU's campus would be the most engaging project idea. We decided which software
            we were going to use, choosing Unity as the game engine and node.js as
            the framework for our website.</p>
        </div>
    </div>
    <br></br>
  </body>
  </html>
