<% include ../partials/header.ejs %>
<% include ../partials/menu.ejs %>
  <style>
    body {
      background-image: url("../resources/img/campus.jpg");
      min-height: 500px;
      background-attachment: fixed;
      background-size:     cover;
      background-repeat:   no-repeat;
      background-position: center center;
    }
  </style>
  <body>
    <br></br>
    <br></br>
    <div class = "container bg-dark text-white">
      <h1>Welcome to CU Sprint!</h1>
      <p>
        This website is devoted to the game "CU Sprint", developed by Ryan Karasopoulos,
        Anne Chen, Will Kanter, Seok Song, Garrett Hite, and Jamie Foster as a
        project for Software Development (CSCI 3308 at CU Boulder). The game is made in Unity, and can be
        accessed by the link on the top navigation bar. This website also includes links to our
        Github page, where version history is readily accessible, as well as
        the home page, blog, and leaderboards.
      </p>
      <p>The game itself is designed around platforming across the CU campus
        to graduate with your degree. Filled with mazes, jumps, and CU references,
        we're proud to present the version 1.0 of CU Sprint!</p>
    </div>

    <br></br>
    <br></br>
    <div class = "container bg-dark text-white">
      <h3>Game Development Team</h3>
      <div class="card-group ">
        <div class="card bg-dark text-white" style="width:400px">
          <img class="card-img-top" src="../resources/img/Garrett.jpg" alt="Card image" style="width:100%">
          <div class="card-body">
            <h4 class="card-title">Garrett Hite</h4>
            <p class="card-text">Garret collects retro video games and is aspiring to be a game developer.</p>
          </div>
        </div>
        <div class="card bg-dark text-white" style="width:400px">
          <img class="card-img-top" src="" alt="Card image" style="width:100%">
          <div class="card-body">
            <h4 class="card-title">James Foster</h4>
            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          </div>
        </div>
        <div class="card bg-dark text-white" style="width:400px">
          <img class="card-img-top" src="" alt="Card image" style="width:100%">
          <div class="card-body">
            <h4 class="card-title">Seok Song</h4>
            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          </div>
        </div>
      </div>
    </div>


    <br></br>
    <br></br>
    <div class = "container bg-dark text-white">
      <h3>Web Development Team</h3>
      <div class="card-group ">
        <div class="card bg-dark text-white" style="width:400px">
          <img class="card-img-top" src="../resources/img/Will.jpg" alt="will" style="width:100%">
          <div class="card-body">
            <h4 class="card-title">Will Kanter</h4>
            <p class="card-text">Will Kanter is a sophomore computer science student who has dreams of living in a van.
              When not being quarantined, he enjoys mountaineering, mountain biking, and photography.
              One day he hopes to find a remote job that offers him the ability to combine these 4 things and spend months at a time living in national forests.</p>
          </div>
        </div>
        <div class="card bg-dark text-white" style="width:400px">
          <img class="card-img-top" src="" alt="Card image" style="width:100%">
          <div class="card-body">
            <h4 class="card-title">Ryan Karasopoulous</h4>
            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          </div>
        </div>
        <div class="card bg-dark text-white" style="width:400px">
          <img class="card-img-top" src="../resources/img/Anne.jpg" alt="Card image" style="width:100%">
          <div class="card-body">
            <h4 class="card-title">Anne Chen</h4>
            <p class="card-text">Anne loves eating Asian food and spending time with friends and family.
              Her biggest dream is to one day go traveling and tasting different cuisines . </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
