<% include ../partials/header.ejs %>
<% include ../partials/menu.ejs %>
    <div class="container">
      <br>
      <div class="container p-3 my-3 bg-warning text-black text-center">
        <h1 class="display-4">Leaderboard</h1>
      </div>

      <table class="table table-bordered" id="leaderboard">
        <tr>
          <th class="text-center">User</th>
          <th class="text-center">Score</th>
        </tr>
      </table>

    </body>
  </html>
